.code-loader {
    color: #fff;
    font-family: Consolas, Menlo, Monaco, monospace;
    font-weight: bold;
    font-size: 100px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex; /* Utilisation de Flexbox */
    justify-content: center; /* Centrage horizontal */
    align-items: center; /* Centrage vertical */
    background-color: rgba(0, 0, 0, 0.9); /* Optionnel : ajout d'un fond sombre */
    z-index: 10;
}

.code-loader span {
    display: inline-block;
    animation: pulse_414 0.4s alternate infinite ease-in-out;
}

.code-loader span:nth-child(odd) {
    animation-delay: 0.4s;
}

@keyframes pulse_414 {
    to {
        transform: scale(0.8);
        opacity: 0.5;
    }
}
